@charset "UTF-8";


$tab: 768px;
$pc: 1024px;

$color-white: #ffffff;
$color-black: #000000;

$color-purple-600: #5847eb;
$color-work: #FF8B64;
$color-play: #55C2E6;
$color-study: #FF5E7D;
$color-exercise: #4BCF82;
$color-social: #7335D2;
$color-self-care: #F1C75B;
$color-navy-800: #33397A;
$color-navy-950: #0f1424ff;
$color-navy-900: #1c1f4aff;
$color-purple-500: #6f76c8ff;
$color-navy-200: #bdc1ffff;

@mixin tab {
  @media screen and (min-width: $tab) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: $pc) {
    @content;
  }
}

body {
  font-size: 1rem;
  color: $color-white;
  background-color: $color-navy-950;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  letter-spacing: 0;
}

@function rem($px, $base: 16) {
  @return ($px / $base) * 1rem;
}

@mixin text-preset-1 {
  font-size: rem(56);
  line-height: 1.1786;
}

@mixin text-preset-2 {
  font-size: rem(40);
  line-height: 1.175;
}

@mixin text-preset-3 {
  font-size: rem(32);
  line-height: 1.1875;
}

@mixin text-preset-4 {
  font-size: rem(24);
  line-height: 1.1666;
}

@mixin text-preset-5($weight: 400) {
  font-weight: $weight;
  font-size: 1rem;
  line-height: 1.17;
}

@mixin text-preset-6 {
  font-size: rem(15);
  line-height: 1.2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  color: $color-white;
  text-decoration: none;
  transition: all 0.4s ease;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 300;
}

li {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  :where(*) {
    animation: none !important;
    transition: none !important;
  }
}

:where(.btn:focus-visible) {
  outline: 2px solid $color-white;
  outline-offset: 2px;
}

.fade {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.fade.show {
  opacity: 1;
}

button:hover {
  opacity: 0.5;
}


/*==================================================
main
===================================*/
.card {
  width: calc(100% - 3rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding-block: rem(80);
}

.card_head {
  background-color: $color-navy-900;
  border-radius: rem(15);
  display: flex;
  flex-direction: column;
}

.card_head_profile {
  background-color: $color-purple-600;
  border-radius: rem(15);
  display: grid;
  grid-template-columns: rem(68) 1fr;
  align-items: center;
  gap: rem(24);
  padding: rem(30) rem(30) rem(36) rem(30);

  >img {
    aspect-ratio: 1;
    border-radius: 100vh;
    border: 3px solid $color-white;
  }
}

.author {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .text {
    color: $color-navy-200;
    @include text-preset-6;
  }

  .name {
    color: $color-white;
    @include text-preset-4;
  }
}

.selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;

  >li {
    width: 100%;
    height: 100%;
  }

  >li button {
    display: block;
    width: 100%;
    height: 100%;
    padding-block: rem(26);
    color: $color-purple-500;
    @include text-preset-5;
    line-height: 1;
  }

  >li button.is-active {
    color: $color-white;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.cards_item {
  width: 100%;
  height: rem(160);
  border-radius: rem(15);
  background-position: 95% -13%;
  position: relative;
}

.cards_item.work {
  background-color: $color-work;
  background-image: url(../images/icon-work.svg);
}

.cards_item.play {
  background-color: $color-play;
  background-image: url(../images/icon-play.svg);
}

.cards_item.study {
  background-color: $color-study;
  background-image: url(../images/icon-study.svg);
}

.cards_item.exercise {
  background-color: $color-exercise;
  background-image: url(../images/icon-exercise.svg);
}

.cards_item.social {
  background-color: $color-social;
  background-image: url(../images/icon-social.svg);
}

.cards_item.self-care {
  background-color: $color-self-care;
  background-image: url(../images/icon-self-care.svg);
}

.cards_item_main {
  width: 100%;
  background-color: $color-navy-900;
  border-radius: rem(15);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 1.5rem;
  padding-block: rem(29);
  position: absolute;
  bottom: 0;
  left: 0;
}

.cards_item:hover .cards_item_main {
  background-color: $color-navy-800;
}

.cards_item_ttl {
  display: flex;
  justify-content: space-between;
  @include text-preset-5(500);
  color: $color-white;
}

.cards_item_ttl:after {
  content: "";
  width: rem(21);
  background-image: url(../images/icon-ellipsis.svg);
  background-position: center;
}

.cards_item_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_current {
  color: $color-white;
  @include text-preset-3;
}

.card_previous {
  color: $color-navy-200;
  @include text-preset-6;
}

@include tab {
  main {
    min-height: 100vh;
    display: flex;
  }

  .card {
    width: 79.6875%;
    padding-block: 0;
    margin: auto;
  }

  .selector {
    max-width: rem(343);
    margin-inline: auto;
    gap: 0.5rem;

    >li {
      width: rem(109);
    }
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards_item {
    height: rem(213);
  }

  .cards_item_main {
    gap: 1rem;
    padding-block: rem(27);
    padding-inline: rem(22);
  }

  .cards_item_ttl {
    letter-spacing: 0.06em;
  }

  .cards_item_content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .card_current {
    @include text-preset-1;
  }
}

@include pc {

  .card {
    width: 77.5%;
    max-width: rem(1116);
    grid-template-columns: rem(255) 1fr;
    gap: 2rem;
  }

  .card_head_profile {
    grid-template-columns: 1fr;
    align-items: center;
    gap: rem(40);
    padding: rem(28) 1.875rem rem(90) 1.875rem;

    >img {
      width: rem(84);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }

  .author {
    gap: 0;

    .name {
      @include text-preset-2;
    }
  }

  .selector {
    grid-template-columns: 1fr;
    max-width: none;
    margin-inline: 0;
    gap: rem(21);
    margin-block: auto;

    >li {
      width: 100%;
      line-height: rem(21);
    }

    >li button {
      text-align: left;
      padding-block: 0;
      padding-left: 2rem;
    }
  }

  .cards {
    gap: 2rem;
  }

  .cards_item {
    height: min(rem(244));
  }

  .cards_item_main {
    gap: 1.5rem;
    padding: 2rem;
  }

  .cards_item_content {
    align-items: flex-start;
  }
}


/*==================================================
footer
===================================*/
footer {
  padding-bottom: 1.25rem;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  color: $color-navy-200;
}