@charset "UTF-8";

:root {
  --color-white: #fff;
  --color-gray950: #111111;
  --color-gray500: #6b6b6b;
  --color-yellow: #f4d04e;
  --font-size-large: clamp(1.25rem, 1.215rem + 0.32vw, 1.5rem);
  --font-size-regular: clamp(0.875rem, 0.858rem + 0.16vw, 1rem);
  --font-size-small: clamp(0.75rem, 0.733rem + 0.16vw, 0.875rem);
}

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: var(--color-gray950);
  background-color: var(--color-yellow);
  font-family: "Figtree", sans-serif;
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  color: var(--color-gray500);
  text-decoration: none;
  transition: all 0.4s ease;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

/*==================================================
main
===================================*/
main {
  width: 100%;
  height: 100vh;
  display: flex;
}
a.card-link {
  display: block;
  margin: auto;
}

.card {
  width: 87.2%;
  max-width: clamp(20.438rem, 19.945rem + 4.51vw, 24rem);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray950);
  box-shadow: 8px 8px 0px #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  gap: 1.5rem;
}
.card-img {
  border-radius: 10px;
  overflow: hidden;
}
.card-text {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  line-height: 1.5;
}
.tab {
  display: block;
  width: fit-content;
  font-size: var(--font-size-small);
  font-weight: 800;
  background: var(--color-yellow);
  border-radius: 4px;
  line-height: 2.167;
  padding-inline: 0.75rem;
}
.date {
  font-size: var(--font-size-small);
}
h1 {
  font-size: var(--font-size-large);
  font-weight: 800;
  transition: all 0.4s ease;
}
.content {
  color: var(--color-gray500);
  font-size: var(--font-size-regular);
}
.author {
  display: grid;
  grid-template-columns: 2em 1fr;
  align-items: center;
  gap: 0.7rem;
}
.author img {
  border-radius: 100vh;
  aspect-ratio: 1;
}
.author figcaption {
  font-size: var(--font-size-regular);
  font-weight: 800;
  letter-spacing: -0.06em;
}
.attribution {
  font-size: 1.1rem;
  text-align: center;
  color: var(--color-gray950);
}
footer {
  padding-bottom: 1.25rem;
}
a.card-link:hover h1 {
  color: var(--color-yellow);
}
