@charset "UTF-8";


$sp: 768px;
$color-white: #fff;
$color-black: #121212;
$color-dark-blue: #19202D;
$color-gray100: #E7EAEE;
$color-gray200: #CFCFCF;
$color-gray300: #A3AAB4;
$color-gray400: #676D7E;
$color-gray500: #48556A;
$color-purple50: #EDE4FF;
$color-purple300: #A775F1;
$color-purple500: #733FC8;



@mixin pc {
  @media screen and (min-width: $sp) {
    @content;
  }
}

body {
  color: $color-gray400;
  background-color: #F6F5F6;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
}

@function rem($px, $base: 16) {
  @return ($px / $base) * 1rem;
}

@mixin text-preset-1 {
  font-weight: 600;
  font-size: rem(20);
  line-height: 1.2;
}

@mixin text-preset-2 {
  font-size: rem(13);
  line-height: 1.1;
}

@mixin text-preset-3 {
  font-size: rem(13);
  line-height: 1.4;
}

@mixin text-preset-4 {
  font-size: rem(11);
  line-height: 1.1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  color: $color-gray400;
  text-decoration: none;
  transition: all 0.4s ease;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  :where(*) {
    animation: none !important;
    transition: none !important;
  }
}

/*==================================================
main
===================================*/
.wrapper {
  width: 100%;
  margin-inline: auto;
  padding-inline: rem(35);
  padding-top: rem(73);
  padding-bottom: rem(73);
}

.card_list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.card {
  padding: 2rem;
  border-radius: rem(8);
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card_head {
  display: grid;
  grid-template-columns: rem(30) 1fr;
  gap: 1rem;
}

.card_img {
  aspect-ratio: 1;
  border-radius: 100vh;
  overflow: hidden;
}

.card_head_ttl {
  display: flex;
  flex-direction: column;
  gap: rem(4);

  .name {
    color: $color-white;
    @include text-preset-2;
  }

  .role {
    @include text-preset-4;
  }
}

.card_body {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .comment {
    color: $color-white;
    @include text-preset-1;
  }

  .quote {
    @include text-preset-3;
  }
}

.card_daniel {
  background-color: $color-purple500;

  .card_img {
    border: 2px solid $color-purple300;
  }

  .role,
  .quote {
    color: $color-purple50;
  }
}

.card_jonathan {
  background-color: $color-gray500;

  .role {
    color: $color-gray300;
  }

  .quote {
    color: $color-gray100;
  }
}

.card_jeanette {
  background-color: $color-white;

  .name,
  .comment {
    color: $color-gray500;
  }

  .role,
  .quote {
    color: $color-gray400;
  }
}

.card_patrick {
  background-color: $color-dark-blue;

  .card_head {
    color: $color-white;
  }

  .card_img {
    border: 2px solid $color-purple500;
  }

  .comment {
    color: $color-gray200;
  }

  .quote {
    color: $color-gray100;
  }
}

.card_kira {
  background-color: $color-white;

  .name,
  .comment {
    color: $color-gray500;
  }

  .role {
    color: $color-gray300;
  }

  .quote {
    color: $color-gray400;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 84.2%;
    padding-inline: 0;
    padding-top: rem(83);
    padding-bottom: rem(83);
  }

  .card_list {
    grid-template-columns: repeat(2, 1fr);
  }

  .card_daniel {

    grid-column: 1/3;
    background-image: url(../images/bg-pattern-quotation.svg);
    background-size: rem(105);
    background-position: 67% 0%;
  }

  .card_jonathan {
    grid-column: 1/2;
  }

  .card_jeanette {
    grid-column: 2/3;
  }

  .card_patrick {
    grid-column: 1/3;
  }

  .card_kira {
    grid-column: 1/3;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    width: 84.2%;
    max-width: rem(1140);
    padding-top: rem(229);
    padding-bottom: rem(218);
  }

  .card_list {
    grid-template-columns: repeat(4, 1fr);
  }

  .card_daniel {

    grid-column: 1/3;
    grid-row: 1/2;
    background-position: 84% 0%;
  }

  .card_jonathan {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .card_jeanette {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .card_patrick {
    grid-column: 2/4;
    grid-row: 2/3;
  }

  .card_kira {
    grid-column: 4/5;
    grid-row: 1/3;
  }
}






footer {
  padding-bottom: 2rem;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  color: $color-gray500;
}