@charset "UTF-8";


$tab: 768px;
$pc: 1024px;
$color-white: #fff;
$color-gray: #949494;
$color-blue-800: #242742;
$color-blue-700: #36384D;
$color-red: #FF6155;
$gradient: linear-gradient(90deg, #FF6A3A 0%, #FF527B 100%);

@mixin tab {
  @media screen and (min-width: $tab) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: $pc) {
    @content;
  }
}

body {
  font-size: 1rem;
  color: $color-blue-800;
  background-color: $color-blue-700;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
}

@function rem($px, $base: 16) {
  @return ($px / $base) * 1rem;
}

@mixin text-preset-1 {
  font-weight: 700;
  font-size: clamp(2.5rem, 2.148rem + 1.5vw, 3.5rem);
}

@mixin text-preset-2($weight: 400) {
  font-weight: $weight;
  font-size: 1rem;
  line-height: 1.5;
}

@mixin text-preset-3 {
  font-weight: 700;
  font-size: rem(12);
  line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  color: $color-blue-800;
  text-decoration: none;
  transition: all 0.4s ease;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

:where(.btn:focus-visible) {
  outline: 2px solid $color-red;
  outline-offset: 2px;
}

@media (prefers-reduced-motion: reduce) {
  :where(*) {
    animation: none !important;
    transition: none !important;
  }
}

[hidden] {
  display: none !important;
}

/*==================================================
main
===================================*/
.card {
  width: 100%;
  min-height: 100vh;
  background-color: $color-white;
  position: relative;
}

.card_main {
  display: flex;
  flex-direction: column;
}

.card_img {
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: rem(44);
  padding: rem(40) rem(24) rem(44) rem(24);
}

.card_head {
  display: flex;
  flex-direction: column;
  gap: rem(24);
}

.card_ttl {
  @include text-preset-1;
}

.card_text {
  @include text-preset-2;
}

.card_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @include text-preset-2;

  li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
  }

  li:before {
    content: "";
    display: block;
    width: rem(21);
    aspect-ratio: 1;
    background-image: url(../img/icon-list.svg);
  }
}

.card_form {
  display: flex;
  flex-direction: column;
  gap: rem(28);

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  label {
    display: flex;
    justify-content: space-between;
    @include text-preset-3;
  }
}

.form-input {
  width: 100%;
  border: 1px solid $color-blue-800;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem
}

.form-btn,
.dismiss-btn {
  @include text-preset-2(700);
  background-color: $color-blue-800;
  color: $color-white;
  border-radius: 0.5rem;
  line-height: rem(56);
}

@include tab {
  main {
    min-height: 100vh;
    display: flex;
  }

  .card {
    max-width: rem(508);
    min-height: auto;
    border-radius: rem(36);
    margin: auto;
  }

  .card_main {
    padding: rem(40);
  }

  .card_img {
    border-radius: 1rem;
  }

  .card_content {
    gap: rem(24);
    padding: rem(40) 0 0 0;
  }

  .card_form {
    gap: 1rem;
  }
}

@include pc {
  .card {
    max-width: rem(904);
    max-height: rem(641);
  }

  .card_main {
    flex-direction: row-reverse;
    align-items: center;
    padding: rem(32);
    gap: rem(64);
  }

  .card_img {
    width: 100%;
    max-width: rem(400);
  }

  .card_head {
    gap: rem(32);
  }

  .card_content {
    gap: rem(32);
    padding: 0;
  }

  .card_form {
    gap: 1.5rem;
  }
}


/*==================================================
error message
===================================*/
.form-input.error {
  border: 1px solid $color-blue-800;
  background: #FFE7E6;
  border: 1px solid $color-red;
  color: $color-red;
}

label.error:after {
  content: "Valid email required";
  @include text-preset-3;
  color: $color-red;
}


/*==================================================
Success message
===================================*/
.success {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 1.5rem;
  padding-top: rem(149);
  padding-bottom: rem(70);
}

.success_message {
  display: flex;
  flex-direction: column;

  gap: 2rem;

  h2 {
    @include text-preset-1;
  }

  p {
    @include text-preset-2;
  }

  #user-email {
    @include text-preset-2(700)
  }
}

.success_message:before {
  content: "";
  display: block;
  width: rem(64);
  aspect-ratio: 1;
  background-image: url(../img/icon-list.svg);
  background-size: 100%;
}

.form-btn.active,
.dismiss-btn.active {
  background: $gradient;
  box-shadow: 0px 1rem 2rem rgba(255, 97, 85, 0.5);
}

@include tab {
  .success {
    max-width: rem(504);
    position: static;
    justify-content: center;
    gap: 2rem;
    padding: rem(64);
  }
}

/*==================================================
footer
===================================*/
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  color: $color-gray;
}