@charset "UTF-8";

:root {
  --color-white: #fff;
  --color-gray700: #333333;
  --color-gray800: #1f1f1f;
  --color-gray900: #141414;

  --color-green: #c5f82a;
  --font-size-large: clamp(1.25rem, 1.215rem + 0.32vw, 1.5rem);
  --font-size-regular: clamp(0.875rem, 0.858rem + 0.16vw, 1rem);
  --font-size-small: clamp(0.75rem, 0.733rem + 0.16vw, 0.875rem);
}

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: var(--color-white);
  background-color: var(--color-gray900);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
}
a {
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.4s ease;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

/*==================================================
main
===================================*/
main {
  width: 100%;
  height: 100vh;
  display: flex;
}

.card {
  width: 87%;
  max-width: clamp(20.375rem, 19.121rem + 5.35vw, 24rem);
  background-color: var(--color-gray800);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  gap: 1.875rem;
  text-align: center;
  margin: auto;
}

.card-img {
  width: 5.5rem;
  aspect-ratio: 1;
  border-radius: 100vh;
  overflow: hidden;
}
h1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
h1 .name {
  color: var(--color-white);
  font-weight: 800;
  font-size: var(--font-size-regular);
  text-transform: uppercase;
}
h1 .location {
  color: var(--color-green);
  font-weight: 700;
  font-size: var(--font-size-regular);
}
.detail {
  font-size: var(--font-size-small);
}
.card-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}
.card-list li {
  list-style: none;
}
.card-list li a {
  display: block;
  border-radius: 10px;
  background-color: var(--color-gray700);
  color: var(--color-white);
  font-size: var(--font-size-small);
  font-weight: 700;
  line-height: 2.75rem;
}
.card-list li a:hover {
  background-color: var(--color-green);
  color: var(--color-gray900);
}

footer {
  padding-bottom: 1.25rem;
}
.attribution {
  font-size: var(--font-size-small);
  text-align: center;
  color: var(--color-white);
}
